# ==========================
# Google Cloud
# ==========================

GCP_PROJECT_ID=fiap-ai-scientist-fase-02
GCP_DATASET=br_inep_avaliacao_alfabetizacao

# ==========================
# AWS
# ==========================

AWS_REGION=us-east-1
AWS_BUCKET=fiap-ai-scientist-fase-02 

# ==========================
# Pipeline
# ==========================

PIPELINE_ENV=dev