# Dependências principais do projeto
# As demais dependências são instaladas automaticamente pelo pip
# Python 3.11 (versão utilizada no projeto)

google-cloud-bigquery==3.42.3
google-cloud-bigquery-storage==2.39.0

pandas==3.0.5
pyarrow==25.0.0

boto3==1.43.60

python-dotenv==1.2.2
db-dtypes==1.4.3

# Dependências futuras (Silver/Gold)
boto3==1.43.60
python-dotenv==1.2.2
great-expectations>=1.8,<2

# pydantic-settings
